@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

Form a {
    color: var(--link_color);
    text-decoration:  none;
}

.form_box{
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.6rem;
}

.form_txt{
    font-family: 'Poppins', sans-serif;
}

.form_txt h3 {
    font-size: 1.6rem;
    font-weight: 800;
}

.form_txt p {
    font-size: 0.7rem;
    width: 100%;
}

.agreement,
.agreement a {
    font-size: 12px;
}

.submit {
    background-color: var(--btn_color);
    border-radius: 1rem;
}

.submit Button {
    color: #fff;
}